.in-memory-note-container {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
}

.in-memory-inline-editor {
	width: 100%;
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	overflow-y: hidden;
	position: relative;
}
.in-memory-inline-editor .view-content {
	flex-grow: 1;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
}
.in-memory-inline-editor .view-header,
.in-memory-inline-editor .inline-title,
.in-memory-inline-editor .embedded-backlinks,
.in-memory-inline-editor .cm-gutters {
	display: none !important;
}
.in-memory-inline-editor .cm-editor .cm-scroller {
	padding: var(--size-4-4) !important;
	flex-grow: 1;
	overflow-y: auto;
}

@media (max-width: 768px) {
	/* 必要に応じてモバイル固有の調整を追加 */
}

[data-type="in-memory-note-view"] .view-content {
	display: flex;
	flex-direction: column;
}
