.sandbox-note-container {
	width: 100%;
	/* height: 100%; */
	display: flex;
	flex-direction: column;
}

.sandbox-inline-editor {
	width: 100%;
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	overflow-y: hidden;
	position: relative;
}
.sandbox-inline-editor .view-content {
	flex-grow: 1;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
}
.sandbox-inline-editor .view-header,
.sandbox-inline-editor .inline-title,
.sandbox-inline-editor .embedded-backlinks,
.sandbox-inline-editor .cm-gutters {
	display: none !important;
}
.sandbox-inline-editor .cm-editor .cm-scroller {
	padding: var(--size-4-4) !important;
	flex-grow: 1;
	overflow-y: auto;
}

[data-type="sandbox-note-view"] .view-content {
	display: flex;
	flex-direction: column;
}
